<CascadingAuthenticationState>

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized Context="_">
                    <!-- Si l'utilisateur est connecté => AccessDenied, sinon => Login -->
                    <AuthorizeView Context="auth">
                        <Authorized>
                            <_RedirectToAccessDenied />
                        </Authorized>
                        <NotAuthorized>
                            <_RedirectToLogin />
                        </NotAuthorized>
                    </AuthorizeView>
                </NotAuthorized>
                <Authorizing>
                    <p>Vérification de l’authentification…</p>
                </Authorizing>
        </AuthorizeRouteView>
        
        
        
        
        
        
        
        @* <FocusOnNavigate RouteData="routeData" Selector="h1" /> *@
    </Found>
</Router>

</CascadingAuthenticationState>