@page "/"
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<br/>
<p>@apiUrl</p>
<br/>
@if(persons.Count==0){
    <p>Loading...</p>
}
else{
    <p>Welcome to your new app.</p>
    <div>
        @foreach(var person in persons){
            <_PersonListitemComponent person="@person"/>
        }
    </div>
}

<div><a href="/persons/create" class="btn btn-success">Ajouter</a></div>


@code{
    List<Person> persons = new();
    string? apiUrl = "api/persons";

    protected override async Task OnInitializedAsync()
    {
        //apiUrl=Http.BaseAddress + apiUrl;
        persons = await Http.GetFromJsonAsync<List<Person>>("api/persons") ?? new();
        if (persons == null)
        {
            persons = new List<Person>();
        }
        else
        {
            persons = persons.OrderBy(p => p.Id).ToList();
        }
    }
}